@charset "UTF-8";

#bravelog-body #devlog
{
	float:right;
	width: 470px;
	min-height:40%;
	margin:0 5px 0 5px;
	padding:0;
	text-align: left;
}
#devlog-body #devlog
{
	float:left;
	width: 600px;
	min-height:40%;
	margin:50px 5px 0 50px;
	padding:0;
	text-align: left;
}


#devlog p
{
	margin:20px 0 0 20px;
	padding:10px 30px 10px 10px;
}

#devlog
{
	background-image : url(image/navigation_bottom.gif);
	background-position: top center;
	background-repeat: repeat-x;
	padding:30px 0 10px 0;

}
#chatdata h3
{
	margin:20px 0px 10px 0;
	background-image : url(image/point.gif)!important;
	background-position: 0px 5px;
	background-repeat: no-repeat;
}


#devlog h3 {
	height: 30px;
	margin:0 5px 0 5px;
	padding:0 0  0 0;
	font-size:18px;
	line-height:24px;
	text-indent:5px;
	background-image : url(image/devlog-line.gif);
	background-position: left bottom;
	background-repeat: no-repeat;

}


#devlog dl
{
	margin: 0 5px 0 5px;
	padding: 0 0 0 0;
	width: 470px;
	background-color:gray;
	font-size:14px;
}



#devlog dt {
	clear:both;
	padding:5px;
	width:75px;
/*	background-color:blue;*/
	height:15px;
	float:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;


}
#devlog dd {
	margin:0;
	padding:5px 5px 5px 5px;
/*	background-color:blue;*/
	width: 350px;
	height:15px;
	float:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;

}


#devlog h2 {
	height: 30px;
	margin:0 5px 0 5px;
	padding:0 0  0 10px;
	font-size:18px;
	line-height:24px;
	text-indent:5px;
	background-image : url(image/devlog-title-line.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	width:590px;

}
#devlog h2 span{
	float:right;
	font-size:12px;
	clear:both;
	padding:5px;
}

#devlog dl dd a{
	text-decoration: none;
}

#bravelog-body #devlog #past-news
{
	margin: 5px 5px 0 5px;
	padding:0;
	width: 450px;
	text-align:right;
	font-size:14px;
	line-height: 250%;
}

#devlog-body #devlog #past-news
{
	margin: 5px 5px 0 5px;
	padding:0;
	width: 590px;
	text-align:right;
	font-size:14px;
	line-height: 450%;
}

#devlog #past-news a
{
	display:inline-block;
	text-indent:10px;
	background-image : url(image/arrow.gif);
	background-position: 2px 5px;
	background-repeat: no-repeat;
	text-decoration: none;
}






